
body {
    background-image: url("snow.jpg");
    background-repeat: no-repeat;
    color: rgb(0,0,0);
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    font-size: 48px;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 24px;
}

